@import '../variables';

.about-us {
    height: calc(100vh - #{$header-height});
    width: 1336px;
    margin: 0 auto;

    & h2 {
        margin: 0;
        padding: 99px 0 0 0;
        display: block;
        font-size: 34px;
    }

    &__content {
        margin-top: 78px;

        & p {
            margin: 0 0 40px 0;
            font-size: 20px;
            font-weight: 300;
            text-align: justify;
        }
    }
}

@media screen and (max-width: 1399px) {
    .about-us {
        height: calc(100vh - #{$header-height1400});
        width: 991px;

        & h2 {
            padding-top: 50px;
        }

        &__content {
            margin-top: 40px;

            & p {
                margin-bottom: 30px;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .about-us {
        height: calc(100vh - #{$header-height991});
        width: 767px;

        & h2 {
            padding-top: 20px;
            font-size: 25px;
        }

        &__content {
            margin-top: 17px;

            & p {
                margin-bottom: 11px;
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .about-us {
        height: calc(100vh - #{$header-height767});
        width: 575px;

        & h2 {
            padding-top: 0px;
            font-size: 25px;
        }

        &__content {
            margin-top: 17px;

            & p {
                margin-bottom: 11px;
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .about-us {
        height: calc(100vh - #{$header-height575});
        width: 430px;

        & h2 {
            padding-top: 0px;
            font-size: 25px;
        }

        &__content {
            margin-top: 17px;

            & p {
                margin-bottom: 11px;
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .about-us {
        width: 400px;

        & h2 {
            padding-top: 0px;
            font-size: 22px;
        }

        &__content {
            margin-top: 15px;

            & p {
                margin-bottom: 11px;
                font-size: 14px;
            }
        }
    }
}