@import '../variables';

.calendar {

    &__header {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    &__arrow {
        cursor: pointer;
        color: #DFDFDF;
        transition: 0.8s color;
        
        &:hover {
            color: $yellow;
        }
    }

    &__month {
        color: #DFDFDF;
        font-size: 19px;
        text-transform: uppercase;
    }

    &__body {
        padding: 15px 0 15px 0;
        display: grid;
        align-items: center;
        grid-auto-rows: 50px;
        grid-template-columns: repeat(7, 50px);
        // grid-gap: 10px;
    }

    &__footer {
        display: grid;
        grid-auto-rows: 50px;
        grid-template-columns: repeat(7, 50px);
        align-items: center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }

    %tableCell {
        height: 100%;
        font-size: 20px;
        font-weight: 500;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__weekday {
        @extend %tableCell;
        cursor: auto !important;
    }

    &__day {
        @extend %tableCell;
        font-size: 17px !important;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
        
        &_active {
            background-color: $yellow;
            color: #3D3D3D !important; 
            &:hover {
                background-color: $yellow;
                border: 2px solid white;
            }
        }

        &_out {
            color: #3D3D3D !important;
        }


    }
}

@media screen and (max-width: 1399px) {
    .calendar {
        &__body {
            grid-auto-rows: 40px;
            grid-template-columns: repeat(7, 40px);
        }
        &__footer {
            grid-auto-rows: 40px;
            grid-template-columns: repeat(7, 40px);
        }
    }
}

@media screen and (max-width: 1150px) {
    .calendar {
        &__body {
            grid-auto-rows: 35px;
            grid-template-columns: repeat(7, 35px);
        }
        &__footer {
            grid-auto-rows: 35px;
            grid-template-columns: repeat(7, 35px);
        }
    }
}

@media screen and (max-width: 991px) {
    .calendar {
        &__body {
            grid-auto-rows: 30px;
            grid-template-columns: repeat(7, 30px);
        }
        &__footer {
            grid-auto-rows: 30px;
            grid-template-columns: repeat(7, 30px);
        }
    }
}

@media screen and (max-width: 800px) {
    .calendar {
        &__body {
            grid-auto-rows: 40px;
            grid-template-columns: repeat(7, 40px);
        }
        &__footer {
            grid-auto-rows: 40px;
            grid-template-columns: repeat(7, 40px);
        }
    }
}