@import '../variables';

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        background-color: #FBFBFB;
        display: flex;
        position: relative;
        padding: 20px 25px 25px 25px;
    }

    &__data {
        margin-right: 20px;

        &:nth-child(2) {
            margin-right: 0;
        }
    }

    &__static {
        color: #A2A2A2;
        font-size: 20px;
    }

    &__dyn {
        color: #3D3D3D;
        font-size: 22px;
        border: 2px solid $yellow;
        padding: 14px 77px 13px 20px;
        margin-top: 8px;
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        background-color: $yellow;
        color: #3D3D3D;
    }
}

@media screen and (max-width: 500px) {
    .modal {
        &__static {
            font-size: 16px;
        }

        &__dyn {
            font-size: 15px;
            padding: 14px 30px 13px 20px;
        }
    }
}