@import '../variables';

.header {
    height: $header-height;
    width: 100%;
    padding: 0px 110px 22px 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    & > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__logo {
        width: 165px;
        & img {
            width: 100%
        }
    }

    &__burger {
        display: none;
    }

    &__menu ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style-type: none;
    }

    &__menu-item {
        position: relative;
        margin-right: 70px;

        & a {
            color: #3d3d3d;
            text-transform: uppercase;
            font-size: 26px;
            text-decoration: none;
        }

        &_active::after {
            content: '';
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            width: 14px;
            height: 14px;
            background-color: #FDD000;
            border-radius: 100%;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 1399px) {
    .header {
        height: $header-height1400;
        padding: 0px 50px 15px 50px;

        &__logo {
            width: 145px;
        }

        &__menu-item {
            margin-right: 45px;
        }
    }
}

@media screen and (max-width: 991px) {
    .header {
        height: $header-height991;
        padding: 0 40px 0 40px;

        & > div {
            align-items: center;
        }

        &__logo {
            width: 130px;
        }

        &__menu-item a {
            font-size: 23px;
        }
    }
}

@media screen and (max-width: 800px) {
    .header {
        overflow: hidden;
        height: $header-height767;
        padding: 0 30px 0 30px;

        &__logo {
            width: 100px;
        }

        &__menu {
            overflow: hidden;
            position: absolute;
            top: $header-height767;
            right: 100%;
            width: 100vw;
            height: calc(100vh - #{$header-height767});
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.9);
            transform: translateX(0);
            transition: 0.5s transform;
            &_active {
                transform: translateX(100%);
            }
            & ul {
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            &-item {
                height: 5rem;
                width: 100%;
                margin: 15px 0 15px 0;
                & a {
                    font-size: 40px;
                    width: 100%;
                    height: 100%;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        color: black;
                    }
                }
                &:hover {
                    background-color: #fed201;
                }
            }
        }
        &__burger {
            display: block;
            width: 26px;
            height: 12px;
			& span {
                display: block;
                height: 2px;
                width: 100%;
                background-color: black;
                margin-bottom: 2px;
                transition: 0.5s all;
            }
            &_active {
                & span {
                    margin-bottom: -2px;
                &:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: translateY(3px) rotate(45deg);
                }
            }
        }
        
    }
    }}

@media screen and (max-width: 575px) {
    .header {
        height: $header-height575;
        padding: 0 25px 0 25px;

        & > div {
            align-items: center;
        }
        
        &__menu {
            top: $header-height575;
            height: calc(100vh - #{$header-height575});
        }

        &__logo {
            width: 110px;
        }
        &__menu-item a {
            font-size: 30px;
        }
    }
}